
body {
	margin: 0;
	padding: 0;
    background-color: #fafbf5;
	width: 960px:
}


p {
	font-family: sans-serif;
	padding: 5px;
}
h1 {
	font-family: sans-serif;
	padding: 5px;
}

h2{
  font-family: sans-serif;
	text-align: center;
    padding-top: 200px;
    padding-bottom: 500px;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}
		
#header {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	height: 200px;
	border: 1px solid red;
	text-align: center;
	margin-top: 20px;
	position: relative;
}

.headerimg {
	margin: auto;
	padding-top: 5px;
	width: 190px;
	height: 190px;
	position: relative;
}

.headerimg img {
	width: 190px;
	height: 190px;
}

#content { 
	overflow: auto;
	margin: auto;
	margin: 10px auto 10px auto;
	width: 960px;
	border: 1px solid blue;
	
}

#map img {   
	margin: 5px;
}
 
.indexcolumn1 {
	width: 310px;
	float: left;
	border: 1px solid red;
	margin: 10px 5px 10px 5px;
}

.indexcolumn2 {
	width: 620px;
	float: left;
	border: 1px solid red;
	margin: 10px 5px 10px 5px;
}

/* For pages with 3 columns */
.acolumn1 {
	float: left;
	margin: 5px 5px 5px 5px;
	border: 1px solid red;
	width: 310px;
}
		
.acolumn1 img {
	width: 225px;
}
	
.acolumn2 { 
	margin: 5px 0px 5px 0px;
	border: 1px solid red;
	width: 310px;
	float: left;
}
		
.acolumn2 img {
	width: 225px;
}
		
.acolumn3 { 
	margin: 5px 5px 5px 5px;
	border: 1px solid red;
	width: 310px;
	float: right;
	}
		
.acolumn3 img {
	width: 225px;
}

/* For pages with 2 columnns */
.bcolumn1 {
	float: left;
	margin: 5px 5px 5px 5px;
	border: 1px solid red;
	width: 470px;
	height: 100%;
}
		
.bcolumn1 img {
	margin: 5px;
}
	
.bcolumn2 { 
	margin: 5px 0px 5px 0px;
	border: 1px solid red;
	width: 470px;
	height: 100%;
	float: left;
}
		
.bcolumn2 img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/* For pages with a top or bottom row */
.row1 {
	width: 950px;
	margin: 10px 5px 5px 5px;
	border: 1px solid red;
}

.row2 {
	width: 950px;
	border: 1px solid red;
	margin: 5px 5px 5px 5px;
}

.row3 {
	width: 950px;
	border: 1px solid red;
	margin: 5px 5px 5px 5px;
	clear: both;
}

.address {
	margin: 25px;
	text-align: left;
	font-size: smaller;
	color: #80A1D4;
	border: 1px solid red;
	overflow: auto;
	position: absolute;
	right: 0;
	top: 5px;
}
/* drop down navigation bar with hover pseudoclass */	
#nav {
	height: 40px;
	width: 960px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	color: #c0fdfb; 
	font-family: sans-serif;
}
		
#nav ul {
	list-style: none;
	background-color: #c0fdfb;
	text-align: center;
	padding: 0;
	margin: 0;
}

#nav li {
	font-size: 1em;
	line-height: 35px;
	text-align: left;
	border-right: 1px solid #8D9CA4;
}

#nav li:last-child {
	border-right: none;
}

#nav a {
	text-decoration: none;
	color: #8D9CA4;
	display: block;
	padding-left: 15px;
	border-bottom: 1px solid #888;
}

#nav a:hover {
	background-color: #5d737e;
}

#nav a.active {
	background-color: #aaa;
	color: #444;
	cursor: default;
}

#nav li li {
	font-size: .8em;
}

#nav li {
	width: 159px;
	border-bottom: none;
	height: 50px;
	line-height: 50px;
	font-size: 1em;
	display: inline-block;
	margin-right: -4px;
	text-align: center;
}

#nav a {
	border-bottom: none;
}

#nav li ul {
	position: absolute;
	display: none;
	width: inherit;
	text-align: center;
}

#nav li:hover ul {
	display: block;
}

#nav li ul li {
	display: block;
}

#form {
	border-radius: 5px;
	background-color: #F2F2F2;
	padding: 1px 40px 40px 40px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 50%;
    background-color: #80A1D4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Social media banner that only appears on index.html */
.socialbanner {
	clear: both;
	margin: auto;
	margin-bottom: 10px;
	text-align: center;
	width: 960px;
	height: 150px;
	font-size: 2em;
	border: 1px solid blue;
}

/* Table with hours for location_contact.html */
.hours table {
	border-collapse: collapse;
	width: 300px;
}

.hours td {
	padding: 5px;
	width: 300px;
	text-align: left;
}

.hours tr:nth-child(even) {
	background-color: #F7F4EA;
}

.hours tr:nth-child(odd) {
	background-color: #D3DBE2;
}
/* Footer stays at bottom of page beneath content */
#footer {
	text-align: center;
	width: 960px;
	height: 100px;
	margin: auto;
	clear: both;
	background-color: #c0fdfb;
	color: #8D9CA4;
	padding-top: 20px;
}
 /* Social media buttons in footer, needs icons and position needs to be aligned with copyright text */
#footer .socialbuttons {
	float: right;
	height: 50px;
}