body {
	margin: 0;
	padding: 0;
    background-color: #FCFFFD;
	width: 960px:
}


p {
	font-family: "Century Gothic";
	padding: 5px;
}
h1 {
	font-family: "Century Gothic";
	font-size:170%;
}

h2{
	font-family: "Century Gothic";
	text-align: center;
    /*padding-top: 200px;
    padding-bottom: 500px;*/
}

#wrapper {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}
		
#header {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	height: 200px;
	text-align: center;
	margin-top: 20px;
	position: relative;
}

.headerimg {
	margin: auto;
	padding-top: 5px;
	height: 190px;
	position: relative;
}

.headerimg img {
	height: 190px;
}

#content { 
	overflow: auto;
	margin: auto;
	margin: 10px auto 10px auto;
	width: 960px;
	
}

#map img {   
	margin: 5px;
}

/* Index page columns */
.indexcolumn1 {
	width: 310px;
	float: left;
	margin: 10px 5px 10px 5px;
}

.indexcolumn1 img {
	width: 100%;
	height: 100%;
}

.indexcolumn2 {
	width: 310px;
	float: left;
	margin: 10px 5px 10px 5px;
}

.indexcolumn2 img {
	width: 100%;
	height: 100%;
}

.indexcolumn3 {
	width: 310px;
	float: left;
	margin: 10px 5px 10px 5px;
}

.indexcolumn3 img {
	width: 100%;
	height: 100%;
}

/* For pages with 3 columns */
.acolumn1 {
	float: left;
	margin: 5px 5px 5px 5px;
	width: 310px;
}
		
.acolumn1 img {
	width: 100%;
	height: 100%;
}
	
.acolumn2 { 
	margin: 5px 0px 5px 0px;
	width: 310px;
	float: left;
}
		
.acolumn2 img {
	width: 100%;
	height: 100%;
}
		
.acolumn3 { 
	margin: 5px 5px 5px 5px;
	width: 310px;
	float: right;
	}
		
.acolumn3 img {
	width: 100%;
	height: 100%;
}

/* For pages with 2 columnns */
.bcolumn1 {
	float: left;
	margin: 5px 5px 5px 5px;
	width: 470px;
	height: 100%;
}
		
.bcolumn1 img {
	width: 100%;
	height: 100%;
}
	
.bcolumn2 { 
	margin: 5px 0px 5px 0px;
	width: 470px;
	height: 100%;
	float: left;
}
		
.bcolumn2 img {
	width: 100%;
	height: 100%;
}

/* For pages with a top or bottom row */
.row1 {
	width: 950px;
	margin: 10px 5px 5px 5px;
}

.row1 img {
	width: 100%;
	height: 100%;
}

.row2 {
	width: 950px;
	margin: 5px 5px 5px 5px;
}

.row3 {
	width: 950px;
	margin: 5px 5px 5px 5px;
	clear: both;
	padding-top: 5px;
}

.address {
	margin: 25px;
	text-align: left;
	font-size: smaller;
	color: #80A1D4;
	overflow: auto;
	position: absolute;
	right: 0;
	top: 5px;
}
/* drop down navigation bar with hover pseudoclass */	
#nav {
	height: 40px;
	width: 960px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	font-family: "Century Gothic";
}
		
#nav ul {
	list-style: none;
	background-color: #DAFFEF;
	text-align: center;
	padding: 0;
	margin-top: 0;
}

#nav li {
	font-size: 1em;
	line-height: 35px;
	text-align: left;
}

#nav a {
	text-decoration: none;
	color: #000;
	display: block;
	padding-left: 15px;
	border-bottom: 1px solid #888;
}

#nav a:hover {
	background-color: #5d737e;
}

#nav a.active {
	background-color: #5d737e;
	color: #fff;
	cursor: default;
}

#nav li li {
	font-size: .8em;
}

#nav li {
	width: 159px;
	border-bottom: none;
	height: 50px;
	line-height: 50px;
	font-size: 1em;
	display: inline-block;
	margin-right: -4px;
	text-align: center;
}

#nav a {
	border-bottom: none;
}

#nav li ul {
	position: absolute;
	display: none;
	width: inherit;
}

#nav li:hover ul {
	display: block;
}

#nav li ul li {
	display: block;
}

#form {
	font-family: "Century Gothic";
	border-radius: 5px;
	background-color: #F2F2F2;
	padding: 1px 40px 40px 40px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 50%;
    background-color: #80A1D4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* Centers div */
#centering {
	float: none;
	margin: auto;
	margin-top: 30px;
	border: 4px double #B3BFB8;
}

#menu {
	border: 4px double #B3BFB8;
}

table {
	font-family: "Century Gothic";
	margin: auto;
	margin-bottom: 15px;
}

table th, td {
	padding:8px;
}

/* Social media banner that only appears on index.html */
.socialbanner {
	clear: both;
	overflow: auto;
	margin: auto;
	margin-bottom: 10px;
	position: relative;
	text-align: center;
	width: 960px;
	font-size: 2em;
	border: 4px double #B3BFB8;
}

.bannerbuttons {
	margin: 20px;
	color: #80A1D4;
	position: absolute;
	right: 0;
}

.bannerbuttons img{
	width: 75px;
	height: 75px;
}

/* Table with hours for location_contact.html */
.hours table {
	border-collapse: collapse;
	width: 300px;
}

.hours td {
	padding: 5px;
	width: 300px;
	text-align: left;
}

.hours tr:nth-child(even) {
	background-color: #F7F4EA;
}

.hours tr:nth-child(odd) {
	background-color: #D3DBE2;
}
/* Footer stays at bottom of page beneath content */
#footer {
	text-align: left;
	width: 960px;
	height: 100px;
	margin: auto;
	clear: both;
	background-color: #DAFFEF;
	color: #000;
	padding-top: 20px;
	position: relative;
	border-left: 3px solid #DAFFEF;
	border-right: 3px solid #DAFFEF;
}
 /* Social media buttons in footer, needs icons and position needs to be aligned with copyright text */
.socialbuttons {
	margin: 25px;
	color: #80A1D4;
	overflow: auto;
	position: absolute;
	right: 0;
	top: 5px;
}

.socialbuttons img{
	width: 50px;
	height: 50px;
}